@import "index.css";

:root {
    --ctrl-fg : white;
--svg-fill: none;
--card-bg : #000080; /* Navy Blue */
--card-fg: yellow;
--nav-bar-bg: #000080;
--nav-bar-fg: yellow;
--dlg-backdrop: black;
--dlg-bg : white;
--dlg-fg: black;
/* bootstrap colors */
--primary-bg : #007bff; 
--secondary-bg  : #6c757d
--dark-bg: #343a40 ;
;
--dark-bg : black;
--text-white: white;

}

.ac-logo, .share-svg, .logo, .helpButtonImage, .card-nb-img, .card-img{     
    fill: var(--svg-fill, none);
}
.card {
    background-color: var(--card-bg, white);;
    color: var( --card-fg, black);
}
.card-controls, .card-panel, .card-button   {
    color: var(--ctrl-fg, cyan);
    background-color:  var(--svg-fill, none);
}
.card-nav-bar  {
background-color: var(--nav-bar-bg, purple);;
color:var(--nav-bar-fg, cyan);
}
/* PopUp Dlg colors  backdrop and dlg*/
#dlgBack.show { 
    background-color: var(--dlg-backdrop, violet)
}
.dlg {
    background-color: var(--dlg-bg, orange);
color: var(--dlg-fg,blue);
}

/**************
     BootStrap color variables
**************/
.bg-dark {
    background-color:  black;
}
.bg-primary {
    background-color:  var( --primary-bg);;    
}
.bg-secondary {
    background-color:  var( --secondary-bg);;
}
.text-white {
    color: var( --text-white);
}

