.help-tag {
    background: #000080;
    color: cyan;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 1px;
    margin-bottom: 0px;
}

.logo-container {
    filter: invert(1.0);

}
.logo {
    fill: none;
    height: 100px;
    padding-left: 25%;;
    padding-bottom: 5px;;
}
.card {
    display: block;
    width: 100%;
    height: 7em;
    background: #000080;
    color: yellow;
    margin-bottom: 10px; 
    padding-top: 3px;
    padding-left: 3px;
    padding-right: 3px;
    padding-bottom: 2px;
    border: 2px solid;
}

#helpButton {
    filter: invert(1.0);
    float:right;
padding: 0;
PADDING-BOTTOM: 5PX;
}

.volume-down {
    transform: scaleY(-1);
}

.helpButtonImage{
FILL: NONE;
width:30px;
height: 30px;
}

.card-flex {
    display: flex;
    margin: 0;
    padding: 0;;
}
.card-desc {
    display: block;
    height: 100%;
width: 40%;
}
    .card-controls {
        DISPLAY: BLOCK;
        COLOR: WHITE;
height: 100%;
width: 120px;
padding-top: 0px;
padding-bottom: 2px;
    }

    .card-panel {
        display: FLEX;
COLOR: WHITE;
        flex-direction: row;;
        justify-content: space-around;
    }

    .card-control{
        display: inline-block;
        height : 32px;
        width: 32px;
        margin: 0PX;;
        padding: 0%;
    }

    .control-hide {
        display: none;
    }
    .card-button {
        background: none;
        color: white;
        padding: 0;
        margin: 0;
    }
    .card-nav-bar {
        display: flex;
        background: #000080;
        color:yellow;
        justify-content: space-between;
            }
        
            .card-nb-button {
        display: inline-block;
        ;
        margin-left: 5px;
        margin-right: 5px;;
            filter: invert(1.0);

            }
            svg {
                fill: currentColor;
            }
        
            .card-nb-img {
                width:16px;
        height: 16px;
            /* fill: #000080; */

            }
            

    .card-img{
        filter: invert(1.0);
        fill: white;
     color: white;
     margin: 0;
    }

    .card-status {
        display: flex;
width: 40em;
height: 100%;
flex-direction: column;
    }
card-status1, card-status2 {
    width: 25em;
    align-self: flex-start;
    padding-left: 3px;
    margin-left: 5px;
    font-size:larger;
    font-weight: 700;
}

.hide {
    position: absolute;
top: 6px;
left: 10005px;
width: 1px;
display:none;
}

#dlgBack.show {
    position:relative;
    display: flex;
    align-items: center;
    vertical-align: middle;;
    justify-content: center;
    flex-direction: row;;
    top: 0;
    left: 0;
    width: 100%;
    background-color: black;
} 

    .dlg {
        align-self: center;
        justify-content: center;
        
        width: 500px;
        height: 800px;
background-color: white;
color: black;;
    }




.player-status {
    position: absolute;
top: 4px;
left: 10000px;
width: 1px;
}